---
layout: default
title: emphaticpuma.github.io
---

<ul class="index-post-list">
  {% for post in site.posts %}
    <li class="index-post-item">
      <div class="index-post-date">{{ post.date | date: '%B %d, %Y' }}</div>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <div class="index-post-excerpt">
      	{% if post.content contains '<!--excerpt_separator-->' %}
			{{ post.content | split:'<!--excerpt_separator-->' | first }}
		{% else %}
			{{ post.excerpt | truncatewords: 60 }}
		{% endif %}
      </div>
    </li>
  {% endfor %}
</ul>