<footer class="footer" id="footer">
	<div class="footer__title">
			<h2>
		<a href="/">
			Puma
		</a>
			</h2>
	</div>
	<div class="footer__links">
		<span>links</span>
		<ul>
			<li><a href="/about/">About</a></li>
			<li><a href="/projects/">Projects</a></li>
			<li><a href="/posts/">Posts</a></li>
		</ul>
	</div>
	<div class="footer__social">
		<span>social</span>
		<div class="footer__social__logos">
			<div><a href="#"><img src="/img/logos/github.svg" alt=""></a></div>
			<div><a href="#"><img src="/img/logos/github.svg" alt=""></a></div>
		</div>
	</div>
</footer>

<script src="/js/scripts.min.js"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    displayAlign: "center"
  });
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>