body
	overflow-y: scroll
	font-family: $serif
	font-size: 19px
	@media (max-width: 1000px)
		font-size: 16px

p
	line-height: 1.45
	color: $primary-text-color

.main
	// min-height: 80vh
	margin-left: 20vw
	margin-right: 30vw
	@media (max-width: 1600px)
		margin-right: 20vw
	@media (max-width: 1300px)
		margin-right: 15vw

	p:first-of-type
		margin-top: 0