.index-post-list
	list-style-type: none
	margin: 0

.index-post-item
	list-style-type: none
	&:not(:last-of-type)
		margin-bottom: 4em
		// &::after
		// 	content: ' '
		// 	background-color: $divider-color
		// 	display: block
		// 	height: 1px
		// 	width: 50%
		// 	margin-top: 2em
		// 	margin-left: 10%

.index-post-date
	color: $secondary-text-color
	margin-bottom: 1em

.index-post-excerpt
	margin: 1em 0
	width: 80%
	border-left: 1px solid $divider-color
	padding-left: 1em