.nav
	font-family: $sans-body
	font-size: 17px
	background-color: $c-primary
	padding-left: 1rem
	@media(min-width: $phablet)
		padding-left: 1rem
		text-align: left

	ul:nth-of-type(1)
		margin-bottom: 0
		a
			display: block
			list-style-type: none
			color: #fff
			text-decoration: none
			display: inline-block
			padding: 0.5em 0
			transform: translateY(2px)
			&:focus
				background-color: lighten($c-primary,5%)
				transform: translateY(0px)
			&::after
				content: ''
				background-color: $c-accent
				display: block
				height: 3px
				width: 100%
				opacity: 0
			&:hover::after
				opacity: 1

			&:not(:first-of-type)
				margin-left: .5em
			@media(min-width: $phablet)
				padding: 1em
				&:not(:first-of-type)
					margin-left: 0

