.post
	color: $primary-text-color
	p > code, li > code
		font-family: $mono
		font-size: 0.9em
		background-color: #e9e9e9
		position: relative
		top: -1px
		padding: 6px 5px
		margin: 0 3px
		border-radius: 4px
	p > img
		width: 70%
		display: block
	p > img + em
		display: block
		width: 70%
		margin-top: 0.5em
		font-size: 0.9em
		color: $secondary-text-color

.tag-list-item
	list-style-type: none
	display: inline-block
	margin-right: 1em
	background-color: #bbb
	height: 2em
	padding: 0.25em 1em 0.25em 0.5em
	border-radius: 4px
	font-size: 13px
	// &:last-of-type
	// 	margin-right: 0

.tag-letters
	display: inline-block
	font-family: $mono
	vertical-align: top
	height: 2em
	line-height: 2em
	transform: translateY(0.15em)

.tag-icon
	height: 2em
	width: 2em
	fill: #000