.meta
	margin-bottom: 2em
	div:nth-of-type(1)
		h1
			margin: 0 auto 2rem
			font-size: 3em
			line-height: 1
	.row
		border-bottom: 1px solid #ddd
		padding-bottom: 1em
		color: #666
		font-size: 0.9em
		div
			margin: 0 auto

	ul:nth-of-type(1)
		margin: 0
		// text-align: right
		li
			display: inline-block
			&:first-of-type
				padding-right: 0.25em
				span
					font-family: $mono
					padding-left: 0.25em