@media print {

	.header {
		display: none;
	}
	.nav {
		display: none;
	}
	.skip {
		display: none !important;
	}
	body {
		color: #000;
		background: #fff;
		width: 100%;
	}
	.container {
		max-width: 100%;
		margin: 0;
	}
	@page {
		margin: 2cm
	}
	h1,h2,h3,h4,h5 {
		page-break-after: avoid;
	}
	img, table, figure {
		page-break-inside: avoid;
	}
	img {
		max-width: 70% !important;
	}
	.meta {
		h1::before {
			content: "Visit emphaticpuma.github.io for more posts on webdev, linux, opinions, and everything in between";
			display: block;
			color: #555;
			font-family: $serif;
			font-weight: 400;
			font-style: italic;
			font-size: 16px;
			text-transform: none;
			margin-bottom: 1em;
			line-height: 1.4
		}
	}

	.post a {
		color: blue;
		text-decoration: underline;
		&:visited {
			color: blue !important;
		}
	}

	.post a[href^=http]:after {
		content:" <" attr(href) "> ";
		color: blue
	}
}