$sans: 'Noto Sans', sans-serif
$serif: 'Merriweather', serif
$mono: 'Fira Mono', monospace

$font-size: 20px

@import _palette
@import _header
@import _home
@import _post
@import _nav
@import _ui
@import _index
@import _highlight
@import _mobile
@import _reset
