---
layout: default
---

<h1 class="item__title">{{ page.title }}</h1>
{{ page.date | date: '%a %d %B %Y' }}
by
{% if post.author %}
<a href="/{{ post.author  }}">
{{ post.author  }}
</a>
{% else %}
<a href="/about">
Me
</a>
{% endif %}


<div class="post">
    {{ content  }}
</div>

{% if page.next.url or page.previous.url %}
<div class="post__more">
    {% if page.next.url %}
        <a href="{{ page.next.url }}" title="{{ page.next.title  }}" class="post__more__next"><span>&larr;</span>next post</a>
    {% endif %}
    {% if page.previous.url %}
        <a href="{{ page.previous.url }}" title="{{ page.previous.title }}" class="post__more__previous">previous post<span>&rarr;</span></a>
    {% endif %}
</div>
{% endif %}

