---
layout: default
---

<section class="post">
	
	{% if page.header_img %}
	

	{% endif %}

	<h1 class="post-title">{{ page.title }}</h1>
	<div class="post-meta">
		<time class="post-date" datetime="{{ page.date | to_xml_schema }}">
			<svg fill="#000" viewBox="0 0 24 24" class="index-post-date-icon" xmlns="http://www.w3.org/2000/svg">
    				<path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" fill-opacity=".9"/>
    				<path d="M0 0h24v24H0z" fill="none"/>
    				<path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z" fill-opacity=".9"/>
				</svg>
			{{ page.date | date: '%B %d, %Y' }}
		</time>
		<ul class="tag-list">
		{% for tag in page.tags %}
			<li class="tag-list-item">
				<svg class="tag-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M17.63 5.84C17.27 5.33 16.67 5 16 5L5 5.01C3.9 5.01 3 5.9 3 7v10c0 1.1.9 1.99 2 1.99L16 19c.67 0 1.27-.33 1.63-.84L22 12l-4.37-6.16z"/></svg>
				<span class="tag-letters">{{ tag }}</span>
			</li>
	{% endfor %}
	</ul>
		
	</div>
	<style>
		.anchoricon {
			vertical-align: top;
			transition: all 400ms ease;
		}
		.anchor-icon-container {
			display: inline-block;
			margin-left: 0.5em;
			opacity: 0;
			transition: all 400ms ease;
		}
		.anchoricon:hover {
			transform: rotate(180deg);
		}
	</style>
	<div class="post-content">
		{{ content }}
	</div>
</section>
